-include localConfig

RODINIA_BASE_DIR ?= $(HOME)/code/rodinia_2.0.1

-include $(RODINIA_BASE_DIR)/common/localConfig

CUDA_BIN_DIR := $(RODINIA_BASE_DIR)/bin/linux/cuda
OMP_BIN_DIR := $(RODINIA_BASE_DIR)/bin/linux/omp
OPENCL_BIN_DIR := $(RODINIA_BASE_DIR)/bin/linux/opencl

install_perms ?=0755

# C compiler
CC ?= gcc
CC_FLAGS ?=
CC_LINK_FLAGS ?=

#OMP_LIB ?= -lgomp
OMP_FLAG ?= -fopenmp
CC_OMP ?=$(CC) $(CC_FLAGS) $(OMP_FLAG)
CC_OMP_LINK ?= $(CC_OMP) $(CC_LINK_FLAGS)

# CUDA compiler
NVCC ?= $(CUDA_DIR)/bin/nvcc
NVCC_FLAGS ?= -I$(CUDA_DIR)/include -Xptxas -v

NVCC_OBJ ?=$(NVCC) $(NVCC_FLAGS)
NVCC_LINK ?=$(NVCC_OBJ) -L$(CUDA_LIB_DIR) 

# 'make dbg=1' enables NVCC debugging
ifeq ($(dbg),1)
	NVCC_FLAGS += -g -O0
	CC_FLAGS += -g -O0
else
	CC_FLAGS += -O2
	NVCC_FLAGS += -O2
endif

# 'make emu=1' compiles the CUDA kernels for emulation
ifeq ($(emu),1)
	NVCC_FLAGS += -deviceemu
endif

# CUDA toolkit installation path
CUDA_DIR ?= /usr/local/cuda

# CUDA toolkit libraries
CUDA_LIB_DIR := $(CUDA_DIR)/lib
ifeq ($(shell uname -m), x86_64)
     ifeq ($(shell if test -d $(CUDA_DIR)/lib64; then echo T; else echo F; fi), T)
     	CUDA_LIB_DIR := $(CUDA_DIR)/lib64
     endif
endif

# CUDA SDK installation path
#SDK_DIR = $(HOME)/NVIDIA_GPU_Computing_SDK/C
SDK_DIR?=$(HOME)/NVIDIA_CUDA_SDK

NVCC_FLAGS += -I$(SDK_DIR)/C/common/inc/

# Determine the correct version of the cutil library
#CUTIL_LIB = -lcutil
#ifeq ($(shell uname -m), x86_64)
#     ifeq ($(shell if test -e $(SDK_DIR)/lib/libcutil_x86_64.a; then echo T; else echo F; fi), T)
#        CUTIL_LIB = -lcutil_x86_64
#     endif
#endif
CUTIL_LIB?=$(SDK_DIR)/C/lib/libcutil_x86_64.a

# OPENCL

# NVIDIA_DIR

OPENCL_DIR ?=$(SDK_DIR)
OPENCL_INC = $(OPENCL_DIR)/OpenCL/common/inc
OPENCL_LIB = $(OPENCL_DIR)/OpenCL/common/lib

OCL_OBJ ?=$(NVCC) $(CC_FLAGS) $(OPENCL_FLAGS) -I$(OPENCL_INC)
OCL_LINK ?=$(OCL_OBJ) -L$(OPENCL_LIB) -lOpenCL

# AMD_DIR
#OPENCL_DIR = /home/sc5nf/ati-stream-sdk-v2.2-lnx64/
#OPENCL_DIR = /home/mwb7w/AMD-APP-SDK-v2.5-RC2-lnx64
#OPENCL_INC = $(OPENCL_DIR)/include/ 
#OPENCL_LIB = $(OPENCL_DIR)/lib/x86/
#ifeq ($(shell uname -m), x86_64)
#     ifeq ($(shell if test -d $(OPENCL_DIR)/lib/x86_64/; then echo T; else echo F; fi), T)
#     	OPENCL_LIB = $(OPENCL_DIR)/lib/x86_64/
#     endif
#endif